- job:
    name: 'ceph-dev-cron'
    description: 'Twice-daily scheduled build trigger for selected ceph.git branches (only if new commits).'
    node: built-in
    project-type: pipeline
    defaults: global
    concurrent: true
    quiet-period: 0
    block-downstream: false
    block-upstream: false

    properties:
      - build-discarder:
          num-to-keep: 200
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1
      - github:
          url: https://github.com/ceph/ceph
      - copyartifact:
          projects: ceph-dev-cron

    triggers:
      - pollscm:
          cron: |
            TZ=Etc/UTC
            H 14 * * *
            H 20 * * *

    pipeline-scm:
      scm:
        - git:
            url: https://github.com/ceph/ceph-build
            branches:
              - main
            shallow-clone: true
            submodule:
              disable: true
            wipe-workspace: true
      script-path: ceph-dev-cron/build/Jenkinsfile
      lightweight-checkout: false
      do-not-fetch-tags: true
