- job:
    name: 'ceph-dev-cron'
    node: built-in
    project-type: freestyle
    defaults: global
    concurrent: true
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    properties:
      - build-discarder:
          days-to-keep: -1
          num-to-keep: 20
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1
      - github:
          url: https://github.com/ceph/ceph
    discard-old-builds: true

    triggers:
      - pollscm:
          cron: |
            TZ=Etc/UTC
            H 14 * * *
            H 20 * * *

    scm:
      - git:
          url: https://github.com/ceph/ceph
          browser: auto
          branches:
            - origin/main
            - origin/reef
            - origin/quincy
            - origin/pacific
          skip-tag: true
          timeout: 20
          wipe-workspace: true

    builders:
      # build pacific on:
      # default: focal bionic centos8 leap15
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*pacific.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=focal bionic centos8 leap15
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson
                    ARCHS=x86_64
      # build quincy on:
      # default: focal centos8 centos9 leap15
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*quincy.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=focal centos8 centos9 leap15
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson
                    ARCHS=x86_64
      # build reef on:
      # default: jammy focal centos8 centos9 windows
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*reef.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=jammy focal centos8 centos9 windows
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson
                    ARCHS=x86_64
      # build main on:
      # default: jammy focal centos8 centos9 windows
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*main.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=jammy focal centos8 centos9 windows
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson
                    ARCHS=x86_64

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
      - credentials-binding:
          - text:
              credential-id: shaman-api-key
              variable: SHAMAN_API_KEY
