{
  "CN": "docker-registry",
  "hosts": [
    "{{ ansible_default_ipv4.address }}",
    "127.0.0.1"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "XX",
      "L": "Default City",
      "O": "Default Company Ltd",
      "ST": "."
    }
  ]
}
