- project:
    name: ceph-volume-nightly-lvm
    distro:
      - centos
    objectstore:
      - bluestore
    method:
      - lvm
      - raw
    scenario:
      - unencrypted
      - dmcrypt
    ceph_branch:
      - main
      - squid
      - reef

    jobs:
      - 'ceph-volume-nightly-{ceph_branch}-{distro}-{objectstore}-{method}-{scenario}'

- job-template:
    name: 'ceph-volume-nightly-{ceph_branch}-{distro}-{objectstore}-{method}-{scenario}'
    display-name: 'ceph-volume {ceph_branch}: [{distro}-{objectstore}-{method}-{scenario}]'
    node: vagrant&&libvirt&&centos9
    concurrent: true
    project-type: freestyle
    defaults: global
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    properties:
      - github:
          url: https://github.com/ceph/ceph
      - build-discarder:
          days-to-keep: 30
    discard-old-builds: true

    triggers:
      - timed: '@daily'

    scm:
      - git:
          url: https://github.com/ceph/ceph.git
          branches:
            - '{ceph_branch}'
          browser: auto
          timeout: 20
          skip-tag: true
          wipe-workspace: true

    builders:
      - inject:
          properties-content: |
            DISTRO={distro}
            OBJECTSTORE={objectstore}
            METHOD={method}
            SCENARIO={scenario}
            CEPH_BRANCH={ceph_branch}
      - shell:
          !include-raw-escape:
            - ../../../scripts/build_utils.sh
            - ../../build/build

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true

    publishers:
      - postbuildscript:
          builders:
            - role: SLAVE
              build-on:
                  - FAILURE
                  - ABORTED
              build-steps:
                - shell:
                    !include-raw-escape:
                      - ../../../scripts/build_utils.sh
                      - ../../build/teardown

      - archive:
          artifacts: 'logs/**'
          allow-empty: true
          latest-only: false

      - email:
          recipients: gabrioux@ibm.com
