- job:
    name: ceph-dev-new-trigger
    node: built-in
    project-type: freestyle
    defaults: global
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    properties:
      - build-discarder:
          num-to-keep: 100
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1
      - github:
          url: https://github.com/ceph/ceph-ci
    discard-old-builds: true

    triggers:
      - github

    scm:
      - git:
          url: https://github.com/ceph/ceph-ci
          browser: auto
          skip-tag: true
          timeout: 20
          wipe-workspace: true
          choosing-strategy: ancestry
          maximum-age: 7

    builders:
      # build reef on:
      # default: jammy focal centos9 windows
      - conditional-step:
          condition-kind: regex-match
          regex: .*reef.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=jammy focal centos9 windows
                - project: 'ceph-dev-new'

      # build squid on:
      # default: jammy centos9 windows
      - conditional-step:
          condition-kind: regex-match
          regex: .*squid.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=jammy centos9 windows
      # build tentacle on:
      # default: jammy centos9 windows
      # crimson: centos9
      - conditional-step:
          condition-kind: regex-match
          regex: .*tentacle.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=jammy centos9 windows
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos9
                    FLAVOR=crimson-debug
                    ARCHS=x86_64
      # If no release name is found in branch, build on all possible distro/flavor combos (except xenial, bionic, focal).
      # regex matching and 'on-evaluation-failure: run' doesn't work here so triple negative it is.
      - conditional-step:
          condition-kind: shell
          condition-command: |
            echo "${{GIT_BRANCH}}" | grep -v '\(reef\|squid\|tentacle\|centos9-only\|crimson-only\|jaeger\)'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=jammy centos9 windows
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos9
                    FLAVOR=crimson-debug
                    ARCHS=x86_64
      # build only centos9, no crimson, no jaeger
      - conditional-step:
          condition-kind: regex-match
          regex: .*centos9-only.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos9
                    ARCHS=x86_64
      # Build only the `crimson` flavour, don't waste resources on the default one.
      # Useful for the crimson's bug-hunt at Sepia
      # crimson-debug: centos9
      # crimson-release: centos9
      - conditional-step:
          condition-kind: regex-match
          regex: .*crimson-only.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos9
                    FLAVOR=crimson-debug
                    ARCHS=x86_64
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos9
                    FLAVOR=crimson-release
                    ARCHS=x86_64
      # Build jaegertracing branch on needed env,  don't waste resources on the default one.
      # Useful for testing specific builds failure
      # default: focal, centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*jaeger.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw-verbatim:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev-new'
                  predefined-parameters: |
                    BRANCH=${{GIT_BRANCH}}
                    FORCE=True
                    DISTROS=centos8 focal
                    FLAVOR=jaeger
                    ARCHS=x86_64
      # sccache
      - conditional-step:
          condition-kind: regex-match
          regex: .*sccache.*
          label: '${{GIT_BRANCH}}'
          on-evaluation-failure: dont-run
          steps:
            - shell: echo skipping

    wrappers:
      - build-name:
          name: "#${{BUILD_NUMBER}} ${{GIT_BRANCH}}"
      - inject-passwords:
          global: true
          mask-password-params: true
      - credentials-binding:
          - text:
              credential-id: shaman-api-key
              variable: SHAMAN_API_KEY
