- job:
    name: ceph-api
    project-type: freestyle
    defaults: global
    concurrent: true
    node: huge && bionic && x86_64 && !smithi
    display-name: 'ceph: API'
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    retry-count: 3
    properties:
      - build-discarder:
          days-to-keep: 15
          num-to-keep: 300
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1
      - github:
          url: https://github.com/ceph/ceph/
      - rebuild:
          auto-rebuild: true
      - inject:
          properties-content: |
            TERM=xterm

    parameters:
      - string:
          name: ghprbPullId
          description: "Pull Request Number (e.g., 60421)"

    triggers:
      - github-pull-request:
          cancel-builds-on-update: true
          allow-whitelist-orgs-as-admins: true
          org-list:
            - ceph
          white-list-target-branches:
            - main
            - tentacle
            - squid
            - reef
            - "feature-.*"
          trigger-phrase: 'jenkins test api'
          skip-build-phrase: '^jenkins do not test.*'
          only-trigger-phrase: false
          github-hooks: true
          permit-all: false
          auto-close-on-fail: false
          status-context: "ceph API tests"
          started-status: "running API tests"
          success-status: "ceph API tests succeeded"
          failure-status: "ceph API tests failed"

    scm:
      - git:
          url: https://github.com/ceph/ceph.git
          branches:
            - origin/pr/${{ghprbPullId}}/merge
          refspec: +refs/pull/${{ghprbPullId}}/*:refs/remotes/origin/pr/${{ghprbPullId}}/*
          browser: auto
          timeout: 20
          skip-tag: true
          shallow-clone: true
          wipe-workspace: true

    builders:
      - shell:
          !include-raw-verbatim:
            - ../../../scripts/build_utils.sh
            - ../../build/build
            - ../../../scripts/dashboard/install-backend-api-test-deps.sh
            - ../../build/api

    # This job seems to get aborted more often than others.  Multiple times in the past week,
    # it's gotten aborted during an apt transaction which leaves a dirty dpkg DB.
    # This will make sure that gets cleaned up before the next job runs (and would inevitably fail).
    publishers:
      - postbuildscript:
          builders:
            - role: SLAVE
              build-on:
                  - ABORTED
              build-steps:
                - shell: "sudo dpkg --configure -a"

      - archive:
          artifacts: 'build/out/*.log'
          allow-empty: true
          latest-only: false

    wrappers:
      - ansicolor
      - credentials-binding:
          - username-password-separated:
              credential-id: github-readonly-token
              username: GITHUB_USER
              password: GITHUB_PASS
