[Unit]
Description=helga (kraken) bot service
After=network.target

[Service]
Type=simple
ExecStart={{ app_home }}/bin/helga
EnvironmentFile=/etc/sysconfig/helga
User={{ ansible_ssh_user }}
WorkingDirectory={{ app_home }}/src/
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
