- job:
    name: ceph-dev-new
    description: 'This job builds branches from https://github.com/ceph/ceph-ci for testing purposes.'
    node: controller
    project-type: multijob
    defaults: global
    concurrent: true
    display-name: 'ceph-dev-new'
    block-downstream: false
    block-upstream: false
    properties:
      - build-discarder:
          days-to-keep: -1
          num-to-keep: 25
          artifact-days-to-keep: 25
          artifact-num-to-keep: 25
      - github:
          url: https://github.com/ceph/ceph-ci

    parameters:
      - string:
          name: BRANCH
          description: "The git branch (or tag) to build"
          default: main

      - string:
          name: DISTROS
          description: "A list of distros to build for. Available options are: centos8, centos7, centos6, focal, bionic, xenial, trusty, precise, wheezy, jessie, and windows"
          default: "focal bionic centos7 centos8 windows"

      - string:
          name: ARCHS
          description: "A list of architectures to build for. Available options are: x86_64, and arm64"
          default: "x86_64 arm64"

      - bool:
          name: THROWAWAY
          description: "
Default: False. When True it will not POST binaries to chacra. Artifacts will not be around for long. Useful to test builds."
          default: false

      - bool:
          name: FORCE
          description: "
If this is unchecked, then then nothing is built or pushed if they already exist in chacra. This is the default.

If this is checked, then the binaries will be built and pushed to chacra even if they already exist in chacra."

      - string:
          name: CEPH_BUILD_VIRTUALENV
          description: "Base parent path for virtualenv locations, set to avoid issues with extremely long paths that are incompatible with tools like pip. Defaults to '/tmp/' (note the trailing slash, which is required)."
          default: "/tmp/"

      - choice:
          name: FLAVOR
          choices:
            - default
            - crimson
            - jaeger
          default: "default"
          description: "Type of Ceph build, choices are: crimson, jaeger, default. Defaults to: 'default'"

      - string:
          name: CI_CONTAINER
          description: 'Build container with development release of Ceph.  Note: this must be "false" or "true" so that it can execute a command or satisfy a string comparison'
          default: "true"

      - string:
          name: CONTAINER_BRANCH
          description: "For CI_CONTAINER: Branch of ceph-container to use"
          default: main

      - string:
          name: CONTAINER_REPO_HOSTNAME
          description: "For CI_CONTAINER: Name of container repo server (i.e. 'quay.io')"
          default: "quay.ceph.io"

      - string:
          name: CONTAINER_REPO_ORGANIZATION
          description: "For CI_CONTAINER: Name of container repo organization (i.e. 'ceph-ci')"
          default: "ceph-ci"

    builders:
      - multijob:
          name: 'ceph dev setup phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-dev-new-setup
              current-parameters: true
              exposed-scm: false
      - copyartifact:
          project: ceph-dev-new-setup
          filter: dist/sha1
          which-build: multijob-build
      - inject:
          properties-file: ${WORKSPACE}/dist/sha1
      - copyartifact:
          project: ceph-dev-new-setup
          filter: dist/branch
          which-build: multijob-build
      - inject:
          properties-file: ${WORKSPACE}/dist/branch
      - multijob:
          name: 'ceph dev build phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-dev-new-build
              current-parameters: true
              exposed-scm: false

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
      - build-name:
          name: "#${BUILD_NUMBER} ${BRANCH}, ${SHA1}, ${DISTROS}, ${FLAVOR}"
