- job:
    block-downstream: false
    block-upstream: false
    builders:
    - shell:
        !include-raw:
          - ../../../scripts/build_utils.sh
          - ../../build/build
    concurrent: true
    disabled: false
    name: ceph-pull-requests-arm64
    node: arm64
    parameters:
    - string:
        name: sha1
        description: "commit id or a refname, like 'origin/pr/72/head'"
        default: origin/master
    project-type: freestyle
    properties:
    - build-discarder:
        artifact-days-to-keep: -1
        artifact-num-to-keep: -1
        days-to-keep: 15
        num-to-keep: 300
    - raw:
        xml: |
          <com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty plugin="build-failure-analyzer@1.18.1">
          <doNotScan>false</doNotScan>
          </com.sonyericsson.jenkins.plugins.bfa.model.ScannerJobProperty>
    - github:
        url: https://github.com/ceph/ceph/
    - raw:
        xml: |
          <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
          <autoRebuild>false</autoRebuild>
          <rebuildDisabled>false</rebuildDisabled>
          </com.sonyericsson.rebuild.RebuildSettings>
    publishers: []
    quiet-period: '5'
    retry-count: '3'
    scm:
    - raw:
        xml: |
          <scm class="hudson.plugins.git.GitSCM" plugin="git@3.1.0">
          <configVersion>2</configVersion>
          <userRemoteConfigs>
          <hudson.plugins.git.UserRemoteConfig>
          <name>origin</name>
          <refspec>+refs/pull/${ghprbPullId}/*:refs/remotes/origin/pr/${ghprbPullId}/*</refspec>
          <url>https://github.com/ceph/ceph.git</url>
          </hudson.plugins.git.UserRemoteConfig>
          </userRemoteConfigs>
          <branches>
          <hudson.plugins.git.BranchSpec>
          <name>${sha1}</name>
          </hudson.plugins.git.BranchSpec>
          </branches>
          <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
          <submoduleCfg class="list" />
          <extensions>
          <hudson.plugins.git.extensions.impl.CheckoutOption>
          <timeout>20</timeout>
          </hudson.plugins.git.extensions.impl.CheckoutOption>
          <hudson.plugins.git.extensions.impl.CloneOption>
          <shallow>false</shallow>
          <noTags>false</noTags>
          <reference />
          <timeout>20</timeout>
          <depth>0</depth>
          <honorRefspec>false</honorRefspec>
          </hudson.plugins.git.extensions.impl.CloneOption>
          <hudson.plugins.git.extensions.impl.WipeWorkspace />
          </extensions>
          </scm>
    triggers:
    - github-pull-request:
        allow-whitelist-orgs-as-admins: true
        org-list:
        - ceph
        trigger-phrase: 'jenkins test make check arm64'
        skip-build-phrase: '^jenkins do not test.*'
        only-trigger-phrase: false
        github-hooks: true
        permit-all: true
        auto-close-on-fail: false
        status-context: "make check (arm64)"
        started-status: "running make check"
        success-status: "make check succeeded"
        failure-status: "make check failed"
        white-list-target-branches:
        - master
    wrappers: []
