- job:
    name: ceph-windows-pull-requests
    project-type: freestyle
    defaults: global
    concurrent: true
    node: amd64 && focal && libvirt && windows
    display-name: 'ceph-windows: Pull Requests'
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    retry-count: 3
    properties:
      - build-discarder:
          days-to-keep: 15
          num-to-keep: 300
          artifact-days-to-keep: 15
          artifact-num-to-keep: 100
      - github:
          url: https://github.com/ceph/ceph/
      - rebuild:
          auto-rebuild: true
      - inject:
          properties-content: |
            TERM=xterm

    parameters:
      - string:
          name: ghprbPullId
          description: "The GitHub pull request id, like '72' in 'ceph/pull/72'"

    triggers:
      - github-pull-request:
          cancel-builds-on-update: true
          allow-whitelist-orgs-as-admins: true
          org-list:
            - ceph
          white-list-target-branches:
            - main
            - squid
            - reef
          trigger-phrase: 'jenkins test windows'
          skip-build-phrase: '^jenkins do not test.*'
          only-trigger-phrase: false
          github-hooks: true
          permit-all: true
          auto-close-on-fail: false
          status-context: "ceph windows tests"
          started-status: "running ceph windows tests"
          success-status: "ceph windows tests succeeded"
          failure-status: "ceph windows tests failed"

    scm:
      - git:
          url: https://github.com/ceph/ceph.git
          branches:
            - origin/pr/${{ghprbPullId}}/merge
          refspec: +refs/pull/${{ghprbPullId}}/*:refs/remotes/origin/pr/${{ghprbPullId}}/*
          browser: auto
          timeout: 20
          do-not-fetch-tags: true
          shallow-clone: true
          honor-refspec: true
          wipe-workspace: true
          basedir: ceph

    builders:
    - shell:
        !include-raw-verbatim:
          - ../../../scripts/build_utils.sh
          - ../../build/check_docs_pr_only
          - ../../../scripts/ceph-windows/setup_libvirt
          - ../../../scripts/ceph-windows/setup_libvirt_ubuntu_vm
          - ../../../scripts/ceph-windows/win32_build
          - ../../../scripts/ceph-windows/cleanup_libvirt_ubuntu_vm
          - ../../../scripts/ceph-windows/setup_libvirt_ubuntu_vm
          - ../../../scripts/ceph-windows/setup_libvirt_windows_vm
          - ../../../scripts/ceph-windows/setup_ceph_vstart
          - ../../../scripts/ceph-windows/run_tests

    publishers:
      - archive:
          artifacts: 'artifacts/**'
          allow-empty: true
          latest-only: false

      - postbuildscript:
          builders:
            - role: SLAVE
              build-on:
                - SUCCESS
                - UNSTABLE
                - FAILURE
                - ABORTED
              build-steps:
                - shell:
                    !include-raw-verbatim:
                      - ../../../scripts/build_utils.sh
                      - ../../../scripts/ceph-windows/cleanup

    wrappers:
      - ansicolor
      - credentials-binding:
          - file:
              credential-id: ceph_win_ci_private_key
              variable: CEPH_WIN_CI_KEY
          - username-password-separated:
              credential-id: github-readonly-token
              username: GITHUB_USER
              password: GITHUB_PASS
