- job:
    name: ceph-dev-trigger
    node: master
    project-type: freestyle
    defaults: global
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    properties:
      - build-discarder:
          days-to-keep: 1
          num-to-keep: 10
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1
      - github:
          url: https://github.com/ceph/ceph
    discard-old-builds: true

    triggers:
      - github

    scm:
      - git:
          url: https://github.com/ceph/ceph
          browser: auto
          branches:
            - 'origin/master'
            - 'origin/jewel'
            - 'origin/kraken'
            - 'origin/hammer'
            - 'origin/luminous'
            - 'origin/mimic*'
            - 'origin/nautilus'
            - 'origin/octopus'
          skip-tag: true
          timeout: 20
          wipe-workspace: true

    builders:
      # Build luminous on:
      # default: centos7 bionic xenial trusty
      # notcmalloc: centos7
      - conditional-step:
          condition-kind: regex-match
          regex: .*luminous.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos7 bionic xenial trusty
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    FLAVOR=notcmalloc
                    DISTROS=centos7
      # build mimic on:
      # default: bionic xenial centos7
      # notcmalloc: centos7
      - conditional-step:
          condition-kind: shell
          condition-command: |
            echo "${GIT_BRANCH}" | grep -v '\(jewel\|kraken\|luminous\)' | grep '\(mimic|nautilus\)'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=bionic xenial centos7
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos7
                    FLAVOR=notcmalloc
      - conditional-step:
          condition-kind: shell
          condition-command: |
            echo "${GIT_BRANCH}" | grep -v '\(jewel\|kraken\|luminous\|mimic\|nautilus\)'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=bionic xenial centos7 leap15
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos7
                    FLAVOR=notcmalloc
      # build octopus on:
      # default: focal bionic centos7 centos8 leap15
      # notcmalloc: centos8
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*octopus.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=focal bionic centos7 centos8 leap15
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=notcmalloc
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson
      # build master on:
      # default: focal bionic centos7 centos8 leap15
      # notcmalloc: centos8
      # crimson: centos8
      - conditional-step:
          condition-kind: regex-match
          regex: .*master.*
          label: '${GIT_BRANCH}'
          on-evaluation-failure: dont-run
          steps:
            - shell:
                !include-raw:
                - ../../../scripts/build_utils.sh
                - ../../build/notify
            - trigger-builds:
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=focal bionic centos7 centos8 leap15
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=notcmalloc
                - project: 'ceph-dev'
                  predefined-parameters: |
                    BRANCH=${GIT_BRANCH}
                    FORCE=True
                    DISTROS=centos8
                    FLAVOR=crimson

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
      - credentials-binding:
          - text:
              credential-id: shaman-api-key
              variable: SHAMAN_API_KEY
