- job:
    name: ceph-build
    project-type: matrix
    defaults: global
    display-name: 'ceph-build'
    block-downstream: false
    block-upstream: false
    concurrent: true
    properties:
      - github:
          url: https://github.com/ceph/ceph
    execution-strategy:
       combination-filter: DIST==AVAILABLE_DIST && ARCH==AVAILABLE_ARCH && (ARCH=="x86_64" || (ARCH == "arm64" && (DIST == "xenial" || DIST == "centos7")))
    axes:
      - axis:
          type: label-expression
          name: MACHINE_SIZE
          values:
            - huge
      - axis:
          type: label-expression
          name: AVAILABLE_ARCH
          values:
            - x86_64
            - arm64
      - axis:
          type: label-expression
          name: AVAILABLE_DIST
          values:
            - trusty
            - xenial
            - centos7
            - jessie
            - stretch
            - precise
            - centos6
            - wheezy
      - axis:
          type: dynamic
          name: DIST
          values:
            - DISTROS
      - axis:
          type: dynamic
          name: ARCH
          values:
            - ARCHS

    builders:
      - shell: |
          echo "Cleaning up top-level workarea (shared among workspaces)"
          rm -rf dist
          rm -rf venv
          rm -rf release
      - copyartifact:
          project: ceph-setup
          filter: 'dist/**'
          which-build: multijob-build
      - inject:
          properties-file: ${WORKSPACE}/dist/sha1
      - inject:
          properties-file: ${WORKSPACE}/dist/other_envvars
      # debian build scripts
      - shell:
          !include-raw:
            - ../../build/validate_deb
            - ../../../scripts/build_utils.sh
            - ../../build/setup_deb
            - ../../build/setup_pbuilder
            - ../../build/build_deb
      # rpm build scripts
      - shell:
          !include-raw:
            - ../../build/validate_rpm
            - ../../../scripts/build_utils.sh
            - ../../build/setup_rpm
            - ../../build/build_rpm

    publishers:
      - postbuildscript:
          script-only-if-failed: True
          script-only-if-succeeded: False
          builders:
            - inject:
                properties-file: ${WORKSPACE}/build_info
            - shell:
                !include-raw:
                  - ../../../scripts/build_utils.sh
                  - ../../build/failure

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
