# multiple scm requires definition of each scm with `name` so that they can be
# referenced later in `job`
# reference: http://docs.openstack.org/infra/jenkins-job-builder/scm.html
- scm:
    name: ceph-deploy
    scm:
      - git:
          url: https://github.com/ceph/ceph-deploy.git
          branches:
            - ${sha1}
          refspec: +refs/pull/*:refs/remotes/origin/pr/*
          browser: auto
          timeout: 20
          skip-tag: true
          wipe-workspace: false
          basedir: "ceph-deploy"

- scm:
    name: ceph-build
    scm:
      - git:
          url: https://github.com/ceph/ceph-build.git
          browser-url: https://github.com/ceph/ceph-build
          timeout: 20
          skip-tag: true
          wipe-workspace: false
          basedir: "ceph-build"


- job:
    name: ceph-deploy-pull-requests
    node: trusty
    project-type: freestyle
    defaults: global
    concurrent: true
    display-name: 'ceph-deploy: Pull Requests'
    quiet-period: 5
    block-downstream: false
    block-upstream: false
    retry-count: 3
    properties:
      - github:
          url: https://github.com/ceph/ceph-deploy/
    logrotate:
      daysToKeep: 15
      numToKeep: 30
      artifactDaysToKeep: -1
      artifactNumToKeep: -1

    parameters:
      - string:
          name: sha1
          description: "A pull request ID, like 'origin/pr/72/head'"

    triggers:
      - github-pull-request:
          admin-list:
            - alfredodeza
            - ktdreyer
            - trhoden
          white-list:
            - xarses
            - angdraug
            - mbroz
            - ddiss
            - osynge
          org-list:
            - ceph
          trigger-phrase: ''
          only-trigger-phrase: false
          github-hooks: true
          permit-all: false
          auto-close-on-fail: false

    scm:
      - ceph-deploy
      - ceph-build

    builders:
      - shell:
          !include-raw:
            - ../../../scripts/build_utils.sh
            - ../../build/setup
      - shell: "cd $WORKSPACE/ceph-deploy && $WORKSPACE/venv/bin/tox -rv"
