- job:
    name: ceph
    description: 'This is the main ceph build task which uses chacra.ceph.com.'
    project-type: multijob
    defaults: global
    display-name: 'ceph'
    block-downstream: false
    block-upstream: false
    concurrent: true
    properties:
      - build-discarder:
          days-to-keep: -1
          num-to-keep: 25
          artifact-days-to-keep: 25
          artifact-num-to-keep: 25
      - github:
          url: https://github.com/ceph/ceph

    parameters:
      - string:
          name: BRANCH
          description: "The git branch (or tag) to build"
          default: master

      - bool:
          name: TEST
          description: "
If this is unchecked, then the builds will be pushed to chacra with the correct ref. This is the default.

If this is checked, then the builds will be pushed to chacra under the 'test' ref."
      - bool:
          name: TAG
          description: "When this is checked, Jenkins will remove the previous private tag and recreate it again, changing the control files and committing again. When this is unchecked, Jenkins will not do any commit or tag operations. If you've already created the private tag separately, then leave this unchecked.
Defaults to checked."
          default: true

      - bool:
          name: THROWAWAY
          description: "
Default: False. When True it will not POST binaries to chacra. Artifacts will not be around for long. Useful to test builds."
          default: false

      - bool:
          name: FORCE_VERSION
          description: "
Default: False. When True it will force the Debian version (when wanting to release older versions after newer ones have been released.
Mostly useful for DEBs to append the `-b` flag for dhc."
          default: false

      - bool:
          name: FORCE
          description: "
If this is unchecked, then then nothing is built or pushed if they already exist in chacra. This is the default.

If this is checked, then the binaries will be built and pushed to chacra even if they already exist in chacra."
      - string:
          name: VERSION
          description: "The version for release, e.g. 0.94.4"

      - bool:
          name: RC
          description: "
If this is checked, binaries will be pushed to chacra using the $BRANCH-rc name, for release candidate binaries.

Defaults to un-checked"
          default: false

      - string:
          name: CEPH_BUILD_VIRTUALENV
          description: "Base parent path for virtualenv locations, set to avoid issues with extremely long paths that are incompatible with tools like pip. Defaults to '/tmp/' (note the trailing slash, which is required)."
          default: "/tmp/"

      - string:
          name: DISTROS
          description: "A list of distros to build for. Available options are: centos7, centos6, bionic, xenial, trusty, precise, wheezy, and jessie"
          default: "bionic xenial centos7"

      - string:
          name: ARCHS
          description: "A list of architectures to build for. Available options are: x86_64, and arm64"
          default: "x86_64"

    builders:
      - multijob:
          name: 'ceph tag phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-tag
              current-parameters: true
              exposed-scm: false
      - multijob:
          name: 'ceph setup phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-setup
              current-parameters: true
              exposed-scm: false
      - multijob:
          name: 'ceph build phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-build
              current-parameters: true
              exposed-scm: false

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
