- job:
    name: ceph
    description: 'This is the main ceph build task.'
    project-type: multijob
    defaults: global
    display-name: 'ceph'
    concurrent: false
    logrotate:
      daysToKeep: -1
      numToKeep: 25
      artifactDaysToKeep: 25
      artifactNumToKeep: 25
    block-downstream: false
    block-upstream: false
    properties:
      - github:
          url: https://github.com/ceph/ceph

    parameters:
      - string:
          name: BRANCH
          description: "The git branch (or tag) to build"
          default: master

    builders:
      - multijob:
          name: 'ceph setup phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-setup
              current-parameters: true
              exposed-scm: false
      - multijob:
          name: 'ceph build phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-build
              current-parameters: true
              exposed-scm: false
      - multijob:
          name: 'ceph package phase'
          condition: SUCCESSFUL
          projects:
            - name: ceph-package
              current-parameters: true
              exposed-scm: false
