- job:
    name: sepia-fog-images
    project-type: freestyle
    defaults: global
    concurrent: false
    display-name: 'Sepia FOG Image Creator'
    node: teuthology
    quiet-period: 0
    block-downstream: false
    block-upstream: false
    properties:
      - build-discarder:
          days-to-keep: 15
          num-to-keep: 30
          artifact-days-to-keep: -1
          artifact-num-to-keep: -1

    # Run every Sunday at noon
    triggers:
      - timed: "0 12 * * 0"

    parameters:
      - string:
          name: DISTROS
          default: "ubuntu_18.04 ubuntu_20.04 centos_8.stream rhel_8.4"
          description: "Distro to capture images for: (e.g., 'ubuntu_16.04', 'centos_7.5' or 'ubuntu_16.04 rhel_7.5' for multiple distros)"
      - string:
          name: MACHINETYPES
          default: "smithi"
          description: "Machine types to capture images for.  (e.g., 'smithi' or 'smithi mira' for multiple machine types)"
      - string:
          name: TEUTHOLOGYBRANCH
          default: main
          description: "Optionally define a different teuthology branch (useful for testing)"
      - string:
          name: CMANSIBLEBRANCH
          default: main
          description: "Optionally define a different ceph-cm-ansible branch (useful for testing)"
      - string:
          name: PAUSEQUEUE
          default: "true"
          description: "Should the teuthology queue be paused?  Recapturing an existing OS image will cause running reimages to fail without pausing the queue.  The queue can remain unpaused when a new distro/version is being captured.  Queue is paused by default."
      - string:
          name: DEFINEDHOSTS
          default: ""
          description: "Define a list of systems to use instead of using teuthology-lock to lock unused systems."

    builders:
      - shell:
          !include-raw:
            - ../../build/build

    publishers:
      - postbuildscript:
          builders:
            - role: SLAVE
              build-on:
                  - FAILURE
                  - ABORTED
              build-steps:
                - shell:
                    !include-raw:
                      - ../../build/failure

    wrappers:
      - inject-passwords:
          global: true
          mask-password-params: true
      - credentials-binding:
          - username-password-separated:
              credential-id: sepia-ipmi
              username: SEPIA_IPMI_USER
              password: SEPIA_IPMI_PASS
          - username-password-separated:
              credential-id: fog
              username: FOG_USER_TOKEN
              password: FOG_API_TOKEN
